#map {
    margin: auto;
    width: 98%;
    height: 340px;
}

article{
    margin: 0 10px 10px 10px;
    box-shadow:  5px 5px 5px grey;
}
h1{
    margin: 0;
    padding-left: 10px;
    color: white;
}

nav{
    background-color: #2D3142;
    box-shadow:  5px 5px 5px grey;
}

main{
    background-color: #B0D7FF;
}

#card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    padding: 5px;
    width: 330px;
}

body {
    overflow: hidden;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.list-group-item{
    margin: 0;
    background-color: #ADACB5;
    color: white;
}

article{
    display: flex;
    flex-direction: row;
    width: 100%;
}

p.list-group-item{
    width: 100%;
}

.wrapper{
    max-height: 300px;
    border: 1px solid #2D3142;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

/*.wrapper{*/
/*    max-height: 120px;*/
/*    border: 1px solid #ddd;*/
/*    display: flex;*/
/*    overflow-x: auto;*/
/*}*/

/*.wrapper .item{*/
/*    width: 120px;*/
/*    height: 120px;*/
/*    line-height: 110;*/
/*    text-align: center;*/
/*    background-color: #ddd;*/
/*}*/